* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f1117;
  color: #f0f0f0;
  font-family: sans-serif;
}

header {
  padding: 1.5rem;
  margin-bottom: 10px;
  border-bottom: 1px solid #2e3142;
}

header p {
  margin-top: 10px;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 1.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.card {
  background-color: #1a1d27;
  border-radius: 5px;
  padding: 20px;
}

.card-label {
  color: #8b8fa8;
  font-size: 0.85rem;
}

.card-value {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 6px;
}

.spending_breakdown,
.transactions {
  border: 1px solid #2e3142;
  background-color: #1a1d27;
  border-radius: 5px;
  padding: 1.25rem;
  margin: 20px 0;
}

.transactions h2 {
  margin-bottom: 10px;
}

.transaction_row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2e3142;
  padding: 1.5rem 0;
}

.transaction_top {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* .transaction_top p {
  border: red 2px solid;
}

.transaction_row div {
  border: red 2px solid;
} */

.transaction_description {
  font-weight: 700;
  /* padding: 5px 15px;
  text-align: center; */
}

.transaction_type_credit {
  background-color: #1d9e75;
  padding: 1px 10px;
  border-radius: 25px;
  margin-left: 0;
}

.transaction_type_debit {
  background-color: #e24b4a;
  padding: 1px 10px;
  border-radius: 25px;
  margin-left: 0;
}

.transaction_date {
  margin-top: 5px;
  font-style: italic;
  font-size: 0.85rem;
}

.transaction_amount_red {
  color: #e24b4a;
}

.transaction_amount_green {
  color: #1d9e75;
}
