* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f1117;
  color: #f0f0f0;
  font-family: sans-serif;
}

header {
  padding: 1.5rem;
  margin-bottom: 10px;
  border-bottom: 1px solid #2e3142;
}

header p {
  margin-top: 10px;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 1.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.card {
  background-color: #1a1d27;
  border-radius: 5px;
  padding: 20px;
}

.card-label {
  color: #8b8fa8;
  font-size: 0.85rem;
}

.card-value {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 6px;
}

.spending_breakdown,
.transactions {
  border: 1px solid #2e3142;
  background-color: #1a1d27;
  border-radius: 5px;
  padding: 1.25rem;
  margin: 20px 0;
}

.transactions h2 {
  margin-bottom: 10px;
}

.transaction_row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2e3142;
  padding: 1.5rem 0;
}

.transaction_top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.transaction_description {
  font-weight: 700;
  /* padding: 5px 15px;
  text-align: center; */
}

.transaction_type_credit {
  background-color: #1d9e75;
  padding: 1px 10px;
  border-radius: 25px;
  margin-left: 0;
}

.transaction_type_debit {
  background-color: #e24b4a;
  padding: 1px 10px;
  border-radius: 25px;
  margin-left: 0;
}

.transaction_date {
  margin-top: 5px;
  font-style: italic;
  font-size: 0.85rem;
}

.transaction_amount_red {
  color: #e24b4a;
}

.transaction_amount_green {
  color: #1d9e75;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal_box {
  background: #1a1d27;
  border: 1px solid #2e3142;
  border-radius: 10px;
  padding: 2rem;
  width: 400px;
}

.modal_box h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #f0f0f0;
  margin-bottom: 1.5rem;
}

form {
  flex-direction: column;
  display: flex;
  gap: 15px;
}

.form_field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal_box label {
  color: #8b8fa8;
  margin-bottom: 4px;
}

form input,
select {
  background: #0f1117;
  border: 1px solid #2e3142;
  border-radius: 6px;
  padding: 8px 12px;
  color: #f0f0f0;
  font-size: 0.875rem;
  width: 100%;
}

.main_btns {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 0.875rem;
  width: 25%;
  background-color: #5b6ef5;
  color: #ffffff;
  margin-top: 5px;
}

.form_btns {
  display: flex;
  gap: 10px;
}

.form_btns button {
  padding: 10px;
  border-radius: 6px;
  font-size: 0.875rem;
  width: 50%;
}

.form_btns button[type="submit"] {
  background-color: #5b6ef5;
  border: none;
  color: #ffffff;
}

.form_btns button[type="reset"] {
  background: transparent;
  border: 1px solid #2e3142;
  color: #8b8fa8;
}
