<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Budget Dashboard</title>
  </head>
  <body>
    <header>
      <h1>Budget Dashboard</h1>
      <p>You have x days until payday</p>
    </header>
    <main>
      <div class="cards">
        <div class="card">
          <p>Monthly Budget</p>
          <p>400</p>
        </div>
        <div class="card">
          <p>Remaining</p>
          <p>200</p>
        </div>
        <div class="card">
          <p>Total Spend</p>
          <p>200</p>
        </div>
      </div>
      <div class="spending_breakdown">
        <p>Spending Breakdown</p>
      </div>
      <div class="transactions">
        <p>Recent Transactions</p>
      </div>
    </main>
  </body>
</html>
