<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Budget Dashboard</title>
  </head>
  <body>
    <header>
      <h1>Budget Dashboard</h1>
      <p>You have {{ payday }} days until payday</p>
    </header>
    <main>
      <div class="cards">
        <div class="card">
          <p class="card-label">Monthly Budget</p>
          <p class="card-value">£{{ budget }}</p>
        </div>
        <div class="card">
          <p class="card-label">Remaining</p>
          <p class="card-value">£{{ remaining }}</p>
        </div>
        <div class="card">
          <p class="card-label">Total Spend</p>
          <p class="card-value">£{{ total_spend }}</p>
        </div>
      </div>
      <div class="spending_breakdown">
        <h2>Spending Breakdown</h2>
      </div>
      <div class="transactions">
        <div class="section_header">
          <h2>Recent Transactions</h2>
          <button onclick="openModal()" class="main_btns"">Add Transactions</button>
        </div>
        
        {% for transaction in transactions %}
        <div class="transaction_row">
          <div class="transaction_left">
            <div class="transaction_top">
              <p class="transaction_description">
                {{ transaction['description'] }}
              </p>
              {% if transaction['type'] == 'Credit' %}
              <p class="transaction_type_credit">{{ transaction['type']}}</p>
              {% else %}
              <p class="transaction_type_debit">{{ transaction['type']}}</p>
              {% endif %}
            </div>
            <p class="transaction_date">{{ transaction['date'] }}</p>
          </div>

          {% if transaction['type'] == 'Credit' %}
          <p class="transaction_amount_green">+£{{ transaction['amount']}}</p>
          {% else %}
          <p class="transaction_amount_red">-£{{ transaction['amount']}}</p>
          {% endif %}
        </div>
        {% endfor %}
        
        <div id="modal">
          <div class="modal_box">
            <h2>Add Transaction</h2>
            <form action="/add" method="POST">
              <div class="form_field">
                <label for="date"> Date of Transaction: </label>
                <input type="date" name="date" id="date" />
              </div>
              <div class="form_field">
                <label for="type"> Type: </label>
                <select name="type" id="type">
                  <option value="">Transaction type</option>
                  <option value="Debit">Debit</option>
                  <option value="Credit">Credit</option>
                </select>
              </div>
              <div class="form_field">
                <label for="category">Category:</label>
                <select name="category" id="category">
                  {% for category in categories %}
                  <option value="{{ category }}">{{ category }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form_field">
                <label for="description"> Description: </label>
                <input type="text" name="description" id="description" />
              </div>
              <div class="form_field">
                <label for="amount"> Amount: </label>
                <input type="number" name="amount" step="0.01" id="amount" />
              </div>
              <div class="form_btns">
                <button type="submit">Save Transaction</button>
                <button type="reset" onclick="closeModal()">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script src="/static/scripts.js"></script>
  </body>
</html>
