<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Budget Dashboard</title>
  </head>
  <body>
    <header>
      <h1>Budget Dashboard</h1>
      <p>You have x days until payday</p>
    </header>
    <main>
      <div class="cards">
        <div class="card">
          <p class="card-label">Monthly Budget</p>
          <p class="card-value">£{{ budget }}</p>
        </div>
        <div class="card">
          <p class="card-label">Remaining</p>
          <p class="card-value">£{{ remaining }}</p>
        </div>
        <div class="card">
          <p class="card-label">Total Spend</p>
          <p class="card-value">£{{ total_spend }}</p>
        </div>
      </div>
      <div class="spending_breakdown">
        <h2>Spending Breakdown</h2>
      </div>
      <div class="transactions">
        <h2>Recent Transactions</h2>
      </div>
    </main>
  </body>
</html>
